<main>
    {{!-- 1l --}}
    {{!-- <h1 class="text-center text-uppercase">Hello world</h1>
    <h2 class="text-end text-lowercase">Second</h2>
    <h3>3 title</h3>

    <hr>

    <div class="display-1 text-muted">Hello world</div>
    <div class="display-5">Second</div>
    <div class="display-6">3 title</div>

    <hr>

    <span class="text-muted">Додатковий текст</span>

    <hr>

    <button class="btn btn-primary">Button</button>

    <hr>

    <button class="btn btn-outline-primary">Button</button>

    <hr>

    <div class="card">
        <div class"card-body">
            Text
        </div>
    </div> --}}

    {{!-- 2l --}}

    <div class="card">
        <img src="https://picsum.photos/400/200" alt="Description" class="card-img-top">
        <div class="card-body">
            <h5 class="card-title">
                Title
            </h5>
            <p>Description</p>
            <a href="http://localhost:3000/summary" class="btn btn-primary">Open</a>
        </div>
    </div>

    <br><br><br>

    <ul class="list-group">
        <li class="list-group-item">Item1</li>
        <li class="list-group-item">Item1</li>
        <li class="list-group-item">Item1</li>
    </ul>

    <br><br><br>

    <div class="card">
        
        <div class="card-header">
            Menu
        </div>

        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <a href="http://localhost:3000/">Home</a>
            </li>
            <li class="list-group-item">
                <a href="http://localhost:3000/skills">Skills</a>
            </li>
            <li class="list-group-item">
                <a href="http://localhost:3000/summary">Summary</a>
            </li>
        </ul>

        <div class="card-footer">
           <button class="btn btn-dark btn-sm">Update list</button> 
        </div>

    </div>

    <br><br><br>

    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>#id</th>
                <th>name</th>
                <th>age</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>1</th>
                <td>Jhon</td>
                <td>35</td>
            </tr>    
            <tr>
                <th>2</th>
                <td>Ivan</td>
                <td>33</td>   
            </tr>          
        </tbody>
    </table>

    <br><br><br>

    <div class="card text-bg-info">
        <img src="https://picsum.photos/400/200" alt="Description" class="card-img-top">
        <div class="card-body">
            <h5 class="card-title">
                Title
            </h5>
            <p>Description</p>
            <a href="http://localhost:3000/summary" class="btn btn-primary">Open</a>
        </div>
    </div>

    <br><br><br>

    <div class="card text-bg-success">
        <div class="card-header">
            Header
        </div>
        <div class="card-body">
            <h6 class="card-title">Title</h6>
            <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. In illum veritatis nostrum iure. Repudiandae nesciunt est doloremque excepturi sapiente, fuga, non recusandae maxime expedita magni quis? Laboriosam asperiores dignissimos unde.</div>
            <br>
            <button class="btn btn-light">click</button>
        </div>
    </div>

    <br><br><br>

    <div class="row g-1">

        <div class="col-4">
            <div class="card text-bg-success">
                <div class="card-header">
                    Header
                </div>
                <div class="card-body">
                    <h6 class="card-title">Title</h6>
                    <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. In illum veritatis nostrum iure. Repudiandae nesciunt est doloremque excepturi sapiente, fuga, non recusandae maxime expedita magni quis? Laboriosam asperiores dignissimos unde.</div>
                    <br>
                    <button class="btn btn-light">click</button>
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="card text-bg-success">
                <div class="card-header">
                    Header
                </div>
                <div class="card-body">
                    <h6 class="card-title">Title</h6>
                    <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. In illum veritatis nostrum iure. Repudiandae nesciunt est doloremque excepturi sapiente, fuga, non recusandae maxime expedita magni quis? Laboriosam asperiores dignissimos unde.</div>
                    <br>
                    <button class="btn btn-light">click</button>
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="card text-bg-success">
                <div class="card-header">
                    Header
                </div>
                <div class="card-body">
                    <h6 class="card-title">Title</h6>
                    <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. In illum veritatis nostrum iure. Repudiandae nesciunt est doloremque excepturi sapiente, fuga, non recusandae maxime expedita magni quis? Laboriosam asperiores dignissimos unde.</div>
                    <br>
                    <button class="btn btn-light">click</button>
                </div>
            </div>
        </div>  

        <div class="col-4">
            <div class="card text-bg-success">
                <div class="card-header">
                    Header
                </div>
                <div class="card-body">
                    <h6 class="card-title">Title</h6>
                    <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. In illum veritatis nostrum iure. Repudiandae nesciunt est doloremque excepturi sapiente, fuga, non recusandae maxime expedita magni quis? Laboriosam asperiores dignissimos unde.</div>
                    <br>
                    <button class="btn btn-light">click</button>
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="card text-bg-success">
                <div class="card-header">
                    Header
                </div>
                <div class="card-body">
                    <h6 class="card-title">Title</h6>
                    <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. In illum veritatis nostrum iure. Repudiandae nesciunt est doloremque excepturi sapiente, fuga, non recusandae maxime expedita magni quis? Laboriosam asperiores dignissimos unde.</div>
                    <br>
                    <button class="btn btn-light">click</button>
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="card text-bg-success">
                <div class="card-header">
                    Header
                </div>
                <div class="card-body">
                    <h6 class="card-title">Title</h6>
                    <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. In illum veritatis nostrum iure. Repudiandae nesciunt est doloremque excepturi sapiente, fuga, non recusandae maxime expedita magni quis? Laboriosam asperiores dignissimos unde.</div>
                    <br>
                    <button class="btn btn-light">click</button>
                </div>
            </div>
        </div>                        

    </div>

</main>    















</main>