<main>
    <h1 class="text-center text-uppercase">Hello world</h1>
    <h2 class="text-end text-lowercase">Second</h2>
    <h3>3 title</h3>

    <hr>

    <div class="display-1 text-muted">Hello world</div>
    <div class="display-5">Second</div>
    <div class="display-6">3 title</div>

    <hr>

    <span class="text-muted">Додатковий текст</span>

    <hr>

    <button class="btn btn-primary">Button</button>

    <hr>

    <button class="btn btn-outline-primary">Button</button>

    <hr>

    <div class="card">
        <div class"card-body">
            Text
        </div>
    </div>















</main>