{{#with data}}

  <div class='col-6'>
    <label class='form-label'>{{label}}</label>

    <input type='text' class='form-control' placeholder='{{placeholder}}' />

    <div class='form-text pb-3'>{{caption}}</div>

  </div>

{{/with}}