<div>

  <ul>
    <li><u>{{titlelist}}</u></li>

    <ul class='list-group list-group-flush'>
      {{#each arr}}
        <li class='list-group-item'>{{this}}</li>
      {{/each}}
    </ul>
  </ul>
</div>