            {{#with data}}

                <li><b>name:</b> {{name}} <span class="text-secondary">(id:{{id}})</span></li>
                <li><b>gender:</b> {{gender}}</li>
                <li><b>age:</b> {{age}} </li>

            {{/with}}