            {{#with data}}

                <li><b>name:</b> {{name}} <span class="text-secondary">(id:{{id}})</span></li>
                <li><b>description:</b> {{description}}</li>

            {{/with}}